.intro-2 {
	background: url("https://mdbootstrap.com/img/Photos/Others/img (40).jpg")no-repeat center center;
	background-size: cover;
}

.navbar {
	background-color: transparent;
}

.top-nav-collapse {
	background-color: #4285F4;
}

@media only screen and (max-width: 768px) {
	.navbar {
		background-color: #4285F4;
	}
}
html,
body,
header,
.view {
	height: 100%;
}

.header-back {
	position: relative;
}

.head-bg {
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	display: block;
	background-size: cover;
	background-color: #242832;
	background-repeat: no-repeat;
	background-position: center;
	height: 515px;
	position: absolute;
}


.head-bg:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(44, 51, 64, 0.8);
}

.about {
	padding-top: 135px;
}

.about .about-content {
	padding: 40px 25px 0 25px;
}

.profile-pic {
	width: 294px;
}

.profile-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.profile-list .title {
	display: block;
	width: 120px;
	float: left;
	color: #333333;
	font-size: 12px;
	font-weight: 700;
	line-height: 20px;
	text-transform: uppercase;
}


.profile-list .cont {
	display: block;
	margin-left: 125px;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	color: #9da0a7;
}


.container {
	width: 100%;
	max-width: 960px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}


.profile-list li {
	margin-bottom: 13px;
}

.hello-world {
	font-size: 11px;
	margin: 0 10px 10px 0;
	font-weight: bold;
}

.dl-resume{
	margin-left: 0;
	margin-top: 15px;
}

.about .card-footer{
	background-color: #4285F4;
	padding: 30px;
	text-align: center;
	color: white;
}

.about .card-footer a{
	margin-left:20px
}

.about .card-footer i{
	font-size: xx-large;
}

header {
	height: auto ;
}

.section .fa-check{
	color: #00c851;
}



.section .blockquote p{
	padding: 0.5rem 0;
}

.stack-img {
	width: 103px;
	transition: all .4s ease-in-out;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);

}

.stack-img:hover {
	opacity: 0.9;
	box-shadow: 0 8px 17px 0 #a9a9a9, 0 6px 20px 0 #f5f5f5;
	transition: all .4s ease-in-out;
}


.stack-container {
	width: 103px;
	text-align: center;
}

.stack-container p {
	margin-top: 10px;	
}


a.linkme {
    cursor: pointer;
    text-decoration: none;
    color: white;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
 }

.md-accordion .card .fa-angle-down {
    float: right;
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
    transform: rotate(180deg);
}
.md-accordion .card .fa-angle-down {
    float: right;
}
.fa, .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
} 





.carousel-multi-item {
    margin-bottom: 5rem
}

.carousel-multi-item .carousel-inner .carousel-item.active,.carousel-multi-item .carousel-item-next,.carousel-multi-item .carousel-item-prev {
    display: block
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-next,.carousel-multi-item .carousel-inner.v-2 .carousel-item-prev,.carousel-multi-item .carousel-inner.v-2 .carousel-item.active {
    display: flex
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-next,.carousel-multi-item .carousel-inner.v-2 .carousel-item-right.active {
    transform: translateX(33%)
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-left.active,.carousel-multi-item .carousel-inner.v-2 .carousel-item-prev {
    transform: translateX(-33%)
}

.carousel-multi-item .carousel-inner.v-2 .carousel-item-left,.carousel-multi-item .carousel-inner.v-2 .carousel-item-right {
    transform: translateX(0)
}

.carousel-multi-item .carousel-indicators li {
    height: 1.25rem;
    width: 1.25rem;
    max-width: 1.25rem;
    background-color: #4285f4;
    margin-bottom: -3.75rem
}

.carousel-multi-item .carousel-indicators .active {
    height: 1.56rem;
    width: 1.56rem;
    max-width: 1.56rem;
    background-color: #4285f4;
    border-radius: 50%
}

.carousel-multi-item .controls-top {
    text-align: center;
    margin-bottom: 1.88rem
}

.carousel-multi-item .controls-top .btn-floating {
    background: #4285f4
}

.carousel-multi-item .carousel-indicators {
    margin-bottom: -2em
}

.carousel-multi-item .card-cascade.narrower {
    margin-top: 1.25rem;
    margin-bottom: .3rem
}

@media (min-width: 768px) {
    .carousel-multi-item .col-md-4 {
        float:left;
        width: 33.333333%;
        max-width: 100%
    }
}

@media only screen and (max-width: 992px) {
    .carousel-multi-item .carousel-indicators li {
        margin-bottom:-1.88rem
    }
}

.carousel-thumbnails .carousel-indicators {
    white-space: nowrap;
    overflow-x: auto;
    position: static;
    left: initial;
    width: initial;
    margin-left: initial;
    margin-right: initial
}

.carousel-thumbnails .carousel-indicators>li {
    width: initial;
    height: initial;
    text-indent: initial
}

.carousel-thumbnails .carousel-indicators>li .active img {
    opacity: 1
}

.wrapper-carousel-fix .carousel-fade .active.carousel-item-left,.wrapper-carousel-fix .carousel-fade .active.carousel-item-right {
    transition: transform .6s ease;
    transition-property: opacity
}


.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    vertical-align: middle;
    display: inline-block;
    overflow: hidden;
    transition: all .2s ease-in-out;
    margin: 10px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}
.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
}